body {
  padding: 40px;
  min-width: 200px;
}
.container {
  text-align: center;
  border-radius: 40px;
  padding: 40px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
}
.card {
  background: rgba(73, 181, 205, 0.2);
  border: none;
  margin-bottom: 25px;
  border-radius: 20px;
}
.icon {
  font-size: 1500%;
  line-height: 290px;
  position: relative;
  top: 15px;
}
h1 {
  font-family: "Roboto Slab", serif;
  text-align: left;
  font-weight: normal;
  font-size: 30px;
}
.country {
  text-align: right;
  display: block;
}
h2 {
  font-size: 105px;
  margin: 0 auto;
  font-weight: 700;
}

h5 {
  margin: 0 auto;
  text-align: right;
  position: relative;
  top: 22px;
}
h3 {
  display: inline;
}
.main-temperature {
  font-weight: 800;
}
.temperature {
  position: relative;
  bottom: 125px;
  background-color: rgba(217, 217, 217, 0.9);
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px 20px;
  margin: 0 auto;
}
p {
  margin: 0 auto;
}
.message {
  padding-top: 20px;
  line-height: 40px;
}
.day {
  font-size: 50px;
  padding: 5px;
  border-radius: 50px;
  border-bottom: 8px solid rgba(73, 181, 205, 0.2);
}
.degree {
  padding-top: 25px;
  display: inline;
}
h6 {
  display: inline;
}
.temperature-scale {
  margin: 0 auto;
  text-align: right;
  font-size: 18px;
}
.day-temperature {
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: rgb(66, 150, 168);
  cursor: pointer;
}
.link {
  text-align: right;
  font-size: 12px;
  padding-right: 60px;
}
.form {
  border-radius: 12px;
  padding: 8px;
}
.btn {
  background-color: rgb(66, 150, 168);
  border-color: rgb(66, 150, 168);
  color: #fff;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  cursor: pointer;
  border-color: #fff;
  color: #fff;
  cursor: pointer;
  background-color: rgb(66, 150, 168);
}
.highlights{
  color: rgb(42, 129, 148);
  padding-right: 20px;
}
.info{
  opacity: 0.5;
  text-align: left;
  padding-left: 20px;
}